html, body, #root {
    height: 100%;
    background-color: #e0e0e0;
}

.App {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.App .content {
    margin: 20px;
}

.App input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    vertical-align: bottom;
    margin-right: 10px;
}

.App input[type='checkbox']:checked {
    background: darkgrey;
}

.App .listContainer {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.App .list {
    list-style-type: none;
    padding-inline-start: 0;
}

.App .newItem {
    border: none;
    font-size: 1em;
    width: calc(100% - 35px);
}

.App .newItem:focus {
    outline: none;
}

.App .newItemIcon {
    margin-left: 7px;
    margin-right: 14px;
    font-weight: bold;
}

.App button.deleteItem {
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    visibility: hidden;
    border-radius: 5px;
}

.App button.deleteItem:hover {
    background-color: lightgrey;
}

.App li.listItem {
    padding-right: 35px;
    position: relative;
    word-break: break-all;
    margin: 5px 0 5px 35px;
    text-indent: -35px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.App li.listItem:hover {
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
}

.App li.listItem:hover button.deleteItem {
    visibility: visible;
}

.App .strikethrough {
    text-decoration: line-through;
}
